<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <linktracker>
            <general>
                <tracking_url>https://linktracker.io</tracking_url>
            </general>
        </linktracker>
    </default>
</config>
